%p This is a super simple service for generating different HTTP codes.
%p
    Just add the status code you want to the URL, like this:
    %a{:href => "http://httpstat.us/200"} httpstat.us/200
%p We'll generally return a response like this:
%code
    :preserve
        HTTP/1.1 {status code} {status description}
        Content-Type: text/plain
        Content-Length: {something}
        {any custom response headers}

        {status code} {status description}
        {list of any custom response headers we added}
%p For example:
%code
    :preserve
        HTTP/1.1 307 Temporary Redirect
        Content-Type: text/plain
        Content-Length: 52
        Location: http://httpstat.us

        307 Temporary Redirect
        Location: http://httpstat.us
%p Here are all the codes we support (and any special notes):
%dl
    - statuses.each do |s|
        %dt= s['value']['status']
        %dd= s['value']['description']
%p If you send any other three digit number that's not in that list, we'll return it too.
%code
    :preserve
        HTTP/1.1 652 Unknown Status
        Content-Type: text/plain
        Content-Length: 18

        652 Unknown Status