!!!
%html
	%head
		%title httpstat.us
		%link{:href => '/css/main.css', :rel => 'stylesheet', :type => 'text/css'}
		/[if lte IE 8]
		:javascript 
			document.createElement('footer');document.createElement('header');
	%body
		#content
			%header
				%h1#title httpstat.us
			%div#view
				=yield
			%footer
				Copyright &copy 2011 - #{Time.now.year}
				%a{:href => "http://aaron-powell.com"} Aaron Powell
				,
				%a{:href => "http://tath.am"} Tatham Oddie
			
			:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-9207152-3']);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})(); 