<!DOCTYPE html>
<html>
  <head>
    <title>httpstat.us</title>
    <link href='/Content/main.css' rel='stylesheet' type='text/css' />
    <!--[if lte IE 8]>
    <script type='text/javascript'>
      //<![CDATA[
        document.createElement('footer'); document.createElement('header');
      //]]>
    </script>
    <![endif]-->
  </head>
  <body>
    <div id='content'>
      <header>
        <h1 id='title'>httpstat.us</h1>
      </header>
      <div id='view'>
        @RenderBody()
      </div>
      <footer>
        An
        <a href='http://www.asp.net/mvc/mvc3'>ASP.NET MVC 3</a>
        +
        <a href='http://weblogs.asp.net/scottgu/archive/2010/07/02/introducing-razor.aspx'>Razor</a>
        +
        <a href='http://github.com/tathamoddie/teapot/'>Git</a>
        +
        <a href='http://windowsazure.com'>Windows Azure</a>
        experiment by
        <a href='http://www.aaron-powell.com'>Aaron Powell</a>
        and
        <a href='http://tath.am'>Tatham Oddie</a>
        .
      </footer>
      <script type='text/javascript'>
        //<![CDATA[
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-9207152-3']);
          _gaq.push(['_trackPageview']);
          (function () {
              var ga = document.createElement('script');
              ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        //]]>
      </script>
    </div>
  </body>
</html>
