<p>
    What you've requested doesn't exist, but here's a nice teapot for you to look at
    instead. :)</p>
<p class='centre'>
    <img src='/Content/Images/teapot.jpg' title="I'm a little teapot">
</p>
